*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#efe7dc;
font-family:'Cormorant Garamond',serif;
overflow:hidden;
}

#sobre{
width:100vw;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background:linear-gradient(#efe7dc,#e6dccf);
}

#sobreImg{
width:90%;
max-width:500px;
cursor:pointer;
transition:.8s;
}

#sobreImg:hover{
transform:scale(1.03);
}

#mensaje{
margin-top:25px;
font-size:24px;
color:#6d5a43;
text-align:center;
}
